<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section class="form-container">
                <section class="title">
                  <h1>Enter a URL to analyze:</h1>
                </section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                  <textarea id="userinput" type="text"></textarea>
                    <input type="submit" class="button" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    <span class="invalidURL" id="invalidURL">invalid URL</span>
                </form>
                <section class="results">
                    <h3>Analysis results:</h3>
                    <div id="results">
                      <div>
                      <div class="results-title">Confidence of analysis:</div><span class="results-percentage" id="confidence"></span>
                      </div>
                      <div>
                      <div class="results-title">Agreement: </div><span class="results-percentage" id="agreement"></span>
                      </div>
                      <div>
                      <div class="results-title">Irony: </div><span class="results-percentage" id="irony"></span>
                      </div>
                      <div>
                      <div class="results-title">Subjectivity: </div><span class="results-percentage" id="subjectivity"></span>
                      </div>
                    </div>
                </section>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
         // Check that service workers are supported
         if ('serviceWorker' in navigator) {
             // Use the window load event to keep the page load performant
             window.addEventListener('load', () => {
                 navigator.serviceWorker.register('/service-worker.js');
             });
         }
        </script>
    </body>
</html>
