@import url("https://fonts.googleapis.com/css?family=Orbitron:400,700");

html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  font-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Orbitron";
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
